---
// Component Imports
import { __astro_tag_component__ } from 'astro/dist/runtime/server';
import Main from '../layouts/main.astro';
import Websites from '../components/Websites.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
---

<Main title='Welcome to Project Phoenix'>
	<p>Homepage content goes here.</p>
</Main>