---
import Navbar from "@components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Websites from "../components/Websites.astro";
import { Image, Picture } from "@astrojs/image/components";
const { content, title } = Astro.props;
---

<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter-Regular.woff2") format("woff2");
        font-display: swap;
        font-weight: 400;
      }

      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter-Italic.woff2") format("woff2");
        font-display: swap;
        font-weight: 400;
        font-style: italic;
      }

      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter-Bold.woff2") format("woff2");
        font-display: swap;
        font-weight: 700;
      }

      body {
        font-family: Inter, sans-serif;
      }
    </style>
  </head>
  <body>
    <Navbar />
    <Hero />
    <slot />
    <Websites />
  </body>
</html>
